/* as taken from https://github.com/mylinuxforwork/dotfiles/blob/main/dotfiles/waybar/themes/default/style.css, with my own modifications. */

@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Fira Sans semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* background-color: rgba(43, 48, 59, 0.5); do not enable, it is really ugly
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  */
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#tags {
  background-color: @backgroundlight;
  padding: 0 10px;
	margin: 5px;
	margin-left: 10px;
	margin-bottom: 0px;
  border: 0px;
  color: @textcolor1;
  border-radius: 15px;
}

#tags button {
  border: 0px;
  margin:4px 5px 4px 0px;
  padding:0px 4px 0px 4px;
  color: @textcolor3;
  transition: all 0.2s ease-in-out;}

#tags button.focused {
  color: @textcolor1;
  background: @workspacesbackground2;
  border-radius: 15px;
}

#tags button:hover {
  color: @textcolor1;
  background: @workspacesbackground2;
  border-radius: 15px;
}

#tags button.urgent {
  background-color: #eb4d4b;
}

tooltip {
  border-radius: 10px;
  background-color: @backgroundlight;
  opacity:0.8;
  padding:20px;
  margin:0px;
}

tooltip label {
    color: @textcolor2;
}

#window {
  margin: 0px 15px 0px 0px;
  border-radius: 12px;
  color: @textcolor;
  font-weight:normal;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#backlight,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0px 15px 0px 0px;
  border-radius: 15px;
  color: @textcolor1;
  background-color: @backgroundlight;
}

#backlight {
  background-color: transparent;
}

#bluetooth, #bluetooth.on, #bluetooth.connected {
  margin: 10px 15px 10px 0px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

#battery {
  margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
  background-color: #26A65B;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    font-size: 14px;
    color: @iconcolor;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#tray {
  margin:0px 10px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
